<html>
<head>
    <title>List of Contacts</title>
</head>
<body>
    <h1>You created a contact!:</h1>
    <p>{{newcontact.getName}}</p>
    <p>{{newcontact.getPhone}}</p>
    <p>{{newcontact.getAddress}}</p>

    <p><a href='/'>View list of all Contacts</a></p>
</body>

</html>
